<div class="main-content">
    <div class="card" *ngIf="product">
        <button class="btn btn-secondary" (click)="goBack()"><i class="fas fa-arrow-alt-circle-left"></i> Terug</button>
        <h2 class="card-title">{{product.titel}}</h2>
        <h6 class="card-subtitle mb-2 text-muted">Type: {{product.type}}</h6>
        <div class="card-body">
            <div>
                <img class="card-img-top" [src]="product.fotoURLCard" alt="Product image">
            </div>
            <div>
                <p class="price">€ {{product.prijs | number:'.2'}}</p>
                <button *ngIf="!isAdmin()" class="btn-warning btn" (click)="AddToCart(product)"><i class="fas fa-cart-plus"></i> Toevoegen aan winkelwagen</button>
                <div *ngIf="currentRoute=='Traject'">
                    <h5>Cursussen in dit traject:</h5>
                    <ul>
                        <li *ngFor="let cursus of product.cursussen" >
                            <a [routerLink]="['/product',cursus.categorie,cursus.id,cursus.titel]">{{cursus.titel}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <h5>Productbeschrijving</h5>
                <p class="card-text">{{product.langeBeschrijving}}</p>
            </div>
        </div>
    </div>    
</div>

