<div *ngIf="Winkelmand" class="container">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Winkelwagen</h1>
      <hr>
      <app-winkelmand-item *ngFor="let product of Winkelmand.producten" (childEvent)="Herbereken($event)"
      (updateEvent)="HerlaadWinkelmand($event)" [product]="product"></app-winkelmand-item>
      <hr>
      <h3>Totaalprijs : {{Winkelmand.totaalPrijs | currency:' € '}}</h3>
      <button class="btn btn-primary" (click)="CreateBestelling()">Ga verder met bestellen</button>
    </div>
  </div>
</div>
