body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 450px));
    justify-content: center;
    align-items: center;
}