p{
    text-align: justify;
}
.card{
    border: 0;
    width: 85vw;
}
.float-left{
    text-align: start;
    margin-top: 5px !important;
    width: 60%;
}
.btn-warning{
    width: 100%;
    justify-self: end;
}
.more-info{
    margin-top: 20px !important;
}
.grid-cart{
    display: grid;
    grid-template-columns: 70% 30%;
}
section{
    div{
        margin: 5px;
        margin-top: 25px;
    }
}
img{
    height: 200px;
}
@media only screen and (min-width: 450px){
    .card{
        width: 300px;
    }
}