<section>
    <div class="card" *ngIf="product">
        <img class="card-img-top" [src]="product.fotoURLCard" alt="Card image" style="width:100%">
        <div class="card-body">
            <h6>Type: {{product.type}}</h6>
            <h4 class="card-title">{{product.titel}}</h4>
            <p class="card-text">{{product.beschrijving}}</p>
            <p class="float-left"><i class="fas fa-tags fa-rotate-90 mr-2"></i><strong>€ {{product.prijs}}</strong></p>
            <a [routerLink]="['/product',product.categorie,product.id,product.titel]" class="float-right">Meer info >></a>
        </div>
    </div>
</section>