<section>
    <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/450x350.png/09f/fff?text=Foto van een product" alt="Card image" style="width:100%">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <div class="card-body">
            <h5>Type: {{product.type}}</h5>
            <h2 class="card-title">{{product.titel}}</h2>
            <p class="card-text">{{product.beschrijving}}</p>
            <p class="float-left"><i class="fas fa-tags fa-rotate-90"></i>&nbsp;<strong>€ {{product.prijs}}&nbsp;&nbsp;&nbsp;</strong></p>
            <a href="/cursussen" class="float-right">Lees verder >></a>
        </div>
    </div>
</section>