p{
    text-align: justify;
}
.float-left{
    font-size: large;
}
.card{
    border: 0;
    width: 85vw;
}
section{
    div{
        margin: 25px;
    }
}

@media only screen and (min-width: 450px){
    .card{
        width: 400px;
    }
}