<section>
    <div class="card">
        <img class="card-img-top" [src]="product.fotoURLCard" alt="Card image" style="width:100%">
        <div class="card-body">
            <h6>Type: {{product.type}}</h6>
            <h4 class="card-title">{{product.titel}}</h4>
            <p class="card-text">{{product.beschrijving}}</p>
            <p class="float-left"><i class="fas fa-tags fa-rotate-90"></i>&nbsp;<strong>€ {{product.prijs}}&nbsp;&nbsp;&nbsp;</strong></p>
            <a href="/cursussen" class="float-right">Meer info >></a>
        </div>
    </div>
</section>