$fontFamilyTitels: 'Rubik', sans-serif;
$fontFamilyRegular: 'Karla', sans-serif;

body{
    background-color:rgb(178, 186, 201);
    font-family: $fontFamilyRegular;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    font-family: $fontFamilyTitels;
}
html { 
    overflow-y: scroll; 
}