main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    margin-bottom: 25px;
}
.dropdown{
    margin-top: 10px !important;
}
select{
    width: auto;
}
.listview{
    justify-content: center;
    align-items: center;
}
.col{
    flex-grow: 0;
}
section{
    div{
        text-align: center;
    }
}
.btnResults{
    margin: auto;
    margin-top: 15px;
    text-align: center;
}
@media only screen and (min-width: 720px){
    .dropdown{
        margin: auto;
        .btn{
            height: 31px;
        }
        div{ 
            display:inline;
        }
    }
    main{
        width: 90%;
    }
}
@media only screen and (max-width: 720px){    
    .col{
        padding-left: 0;
        padding-right: 0;
    }
    .dropdown{
        margin: auto;
    }
}