<main>
    <div class="dropdown">
        <div class="mr-3 mb-2">
            <b class="mr-2">Type:</b>
            <select class="custom-select custom-select-sm" [(ngModel)]="productFilter.type" (ngModelChange)="GetType()">
                <option value="{{item}}" *ngFor="let item of productFilter.types">{{item}}</option>
            </select>
        </div>
        <div class="mr-3 mb-2">
            <b class="mr-2">Sorteren op:</b>
            <select class="custom-select custom-select-sm" [(ngModel)]="productFilter.sortBy" (ngModelChange)="Sort()">
                <option value="{{item}}" *ngFor="let item of productFilter.sortItems">{{item}}</option>
            </select>
            
        </div>
        <div>
            <b class="mr-2">Rangschikking:</b>
            <button class="btn btn-light" (click)="ChangeDirection()">
                <i *ngIf="productFilter.direction=='asc'" class="fas fa-sort-alpha-down" ></i>  
                <i *ngIf="productFilter.direction=='desc'" class="fas fa-sort-alpha-down-alt"></i>
            </button>
        </div>
    </div>
    <section *ngIf="cursussen">
        <div class="listview row" *ngIf="currentRoute!='zoekresultaten'"><app-product class="col" *ngFor="let product of cursussen" [product]="product"></app-product></div>
        <div *ngIf="currentRoute=='zoekresultaten'">
            <button class="btn btnResults" type="button" data-toggle="collapse" data-target="#collapseCursussen" aria-expanded="false" aria-controls="collapseCursussen" (click)="Changecollapsedcursussen()">
                <h4>Cursusresultaten voor "{{productFilter.searchParam}}": <i *ngIf="collapsedCursussen" class="fas fa-caret-square-up"></i> <i *ngIf="!collapsedCursussen" class="fas fa-caret-square-down"></i></h4>
            </button>
            <div *ngIf="!collapsedCursussen" class="collapse show listview row" id="collapseCursussen">
                <app-product class="col" *ngFor="let product of cursussen" [product]="product"></app-product>
            </div>
        </div>
    </section>
    <section *ngIf="trajecten">
        <div class="listview row" *ngIf="currentRoute!='zoekresultaten'"><app-product class="col" *ngFor="let product of trajecten" [product]="product"></app-product></div>
        <div *ngIf="currentRoute=='zoekresultaten'">
            <button class="btn btnResults" type="button" data-toggle="collapse" data-target="#collapseTrajecten" aria-expanded="false" aria-controls="collapseTrajecten" (click)="Changecollapsedctrajecten()">
                <h4>Trajectresultaten voor "{{productFilter.searchParam}}": <i *ngIf="collapsedTrajecten" class="fas fa-caret-square-up"></i> <i *ngIf="!collapsedTrajecten" class="fas fa-caret-square-down"></i></h4>
            </button>
            <div *ngIf="!collapsedTrajecten" class="collapse show listview row" id="collapseTrajecten">
                <app-product class="col" *ngFor="let product of trajecten" [product]="product"></app-product>
            </div>
        </div>
    </section>   
</main>