<nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" [routerLink]="['/home']"><img src="/assets/img/Logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/home']">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/producten/cursussen']">Cursussen</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/producten/trajecten']">Trajecten</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <div class="mr-sm-2 input-search">
                  <input placeholder="Zoek een product" aria-label="Search" [(ngModel)]="searchParam" name="Search" (keydown.enter)="Search()">
                  <a (click)="Search()"><i class="fas fa-search"></i></a>
              </div>
              <button (click)="Search()" class="btn btn-warning my-2 my-sm-0 searchButton" type="submit">Zoeken</button>
            </form>
            <li class="navbar-nav nav-item">
              <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/winkelmand']"><i class="fas fa-2x fa-shopping-cart"></i>
                <span *ngIf="aantalItems < 10" class="item-counter">{{aantalItems}}</span>
                <span *ngIf="aantalItems > 9" class="item-counter">9+</span>
              </a>
            </li>
            <ul class="navbar-nav">
              <li class="nav-item">
                  <div class="center" *ngIf="!isUserLoggedIn()">
                      <button class="btn btn-primary" (click)="login()">Login</button>
                      <button class="btn btn-primary" (click)="signup()">Sign Up</button>
                    </div>
                  
                    <div class="center dropdown" *ngIf="isUserLoggedIn()">
                      <div class="dropdown-toggle mr-4" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <p>Welkom {{userfirstname}}</p>
                          <a class="icon-user ml-2"><i class="far fa-user"></i></a>
                      </div>
                      
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuUser">
                        <button class="dropdown-item ml-0" type="button" [routerLink]="['/profiel']">Mijn account</button>
                        <button class="dropdown-item ml-0" type="button" [routerLink]="['/bestellingen']">Mijn bestellingen</button>
                        <button *ngIf="isAdmin()" class="dropdown-item ml-0" type="button" [routerLink]="['/adminpanel']">Admin Panel</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item ml-0" (click)="logout()">Logout</button>
                      </div>
                    </div>
              </li>
            </ul>   
          </div>
    </nav>
    